<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
			th:fragment="layout (title,body)">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet"
				href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
				media="screen, projection">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
				rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<title th:replace="${title}">Staff Management System</title>
</head>
<body>
<div id="header" th:replace="~{layouts/header :: header}"></div>
<div id="body" th:replace="${body}"></div>
<div id="footer" th:replace="~{layouts/footer :: footer}"></div>
</body>
