<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dkurata38.open_web_library.web.infrastructure.member.MemberCredentialMapper">
	<resultMap id="BaseResultMap" type="com.github.dkurata38.open_web_library.member_domain.MemberCredential">
		<constructor>
			<idArg column="member_credential_id" javaType="com.github.dkurata38.open_web_library.member_domain.MemberCredentialId"/>
			<arg column="member_id" javaType="com.github.dkurata38.open_web_library.member_domain.MemberId"/>
			<arg column="login_id" javaType="java.lang.String"/>
			<arg column="password" javaType="java.lang.String"/>
		</constructor>
	</resultMap>
	<select id="selectByLoginId" resultMap="BaseResultMap">
		SELECT
			member_credential_id, member_id, login_id, password
		FROM
			member_credential
		WHERE
			login_id = #{loginId}
	</select>
</mapper>
